
/* Override DocFx Styles*/
.page-header{

    padding-bottom: 0;
    margin: 0;
    border-bottom: 0;
}

html{
    font-size: 16px;
}
@media (min-width: 1200px){
    .container {
        width: 90%;
    }
    .section-grid.samples {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}


/* Aids for Stefen's styles integration */

button.hamburger.show{
    display: inline-flex !important;
}

.hamburger.show~#navbar .nav-menu {
    display: flex;
    visibility: visible;
    height: 100svh;
    flex-direction: column;
}

@media screen and (max-width: 1024px){

    .article {
        margin-top: 65px !important;
    }

    .hamburger.show~#navbar .nav-menu {
        top: 75px;
        right: 0;
    }
}

.no-background{
    background: none;
}

.blog-type .blog-cat {
    margin-bottom: 1px;
}

.card.sample {
    grid-template-rows: max-content;
}

/* Initive Styles */
.site-logo .ff-com{
    /* Check out the F12 tools for the colour palette */
    /* color: var(--dark-teal); */
    color: var(--orange);
}
